## This file is managed by Ansible, YOUR CHANGES WILL BE LOST!

# IPv6 Network sysctl
{% if rhel9cis_ipv6_required %}
{% if rhel9cis_rule_3_2_1 %}
net.ipv6.conf.all.forwarding = 0
{% endif %}
{% if rhel9cis_rule_3_3_1 %}
net.ipv6.conf.all.accept_source_route = 0
net.ipv6.conf.default.accept_source_route = 0
{% endif %}
{% if rhel9cis_rule_3_3_2 %}
net.ipv6.conf.all.accept_redirects = 0
net.ipv6.conf.default.accept_redirects = 0
{% endif %}
{% if rhel9cis_rule_3_3_9 %}
# CIS 3.3.9
net.ipv6.conf.all.accept_ra = 0
net.ipv6.conf.default.accept_ra = 0
{% endif %}
{% endif %}
