## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by Mindpoint Group - A Tyto Athene Company

# Lock desktop media-handling automount setting
/org/gnome/desktop/media-handling/automount

# Lock desktop media-handling automount-open
/org/gnome/desktop/media-handling/automount-open
