# File created for CIS benchmark
# CIS rule 6_2_1_3
[Journal]
SystemMaxUse={{ rhel9cis_journald_systemmaxuse }}
SystemKeepFree={{ rhel9cis_journald_systemkeepfree }}
RuntimeMaxUse={{ rhel9cis_journald_runtimemaxuse }}
RuntimeKeepFree={{ rhel9cis_journald_runtimekeepfree }}
MaxFileSec={{ rhel9cis_journald_maxfilesec }}
