# CIS Configurations
# 5.3.3.2.3 Ensure password complexity is configured
minclass = {{ rhel9cis_passwd_minclass }}
dcredit = {{rhel9cis_passwd_dcredit }}
ucredit = {{ rhel9cis_passwd_ucredit }}
ocredit = {{ rhel9cis_passwd_ocredit }}
lcredit = {{ rhel9cis_passwd_lcredit }}
