---

- name: "1.5.1 | PATCH | Ensure core dump storage is disabled"
  ansible.builtin.lineinfile:
      path: /etc/systemd/coredump.conf
      regexp: '^Storage\s*=\s*(?!none).*'
      line: 'Storage=none'
  notify: Systemd daemon reload
  when:
      - rhel9cis_rule_1_5_1
      - systemd_coredump.stat.exists
  tags:
      - level1-server
      - level1-workstation
      - patch
      - rule_1.5.1

- name: "1.5.2 | PATCH | Ensure core dump backtraces are disabled"
  ansible.builtin.lineinfile:
      path: /etc/systemd/coredump.conf
      regexp: '^ProcessSizeMax\s*=\s*.*[1-9]$'
      line: 'ProcessSizeMax=0'
  when:
      - rhel9cis_rule_1_5_2
  tags:
      - level1-server
      - level1-workstation
      - patch
      - sysctl
      - rule_1.5.2

- name: "1.5.3 | PATCH | Ensure address space layout randomization (ASLR) is enabled"
  block:
      - name: "1.5.3 | PATCH | Ensure address space layout randomization (ASLR) is enabled"
        ansible.builtin.set_fact:
            rhel9cis_sysctl_update: true

      - name: "1.5.3 | PATCH | Ensure address space layout randomization (ASLR) is enabled"
        ansible.builtin.debug:
            msg: "Control being set via Handler 'update sysctl' which writes to /etc/sysctl.d/60-kernel_sysctl.conf"
  when:
      - rhel9cis_rule_1_5_3
  tags:
      - level1-server
      - level1-workstation
      - patch
      - sysctl
      - rule_1.5.3
